{% extends "base.html" %}




{% block content %}

<h1 class='font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600'>Comments</h1>

{% if user.is_staff %}
        <button type="button" 
            class="mb-4 inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
            >
            Detect Spam
        </button>
    {% endif %}


<div id='comments'>
    <ul>
        {% for comment in comments %}

        <div class="flex flex-col m-3">
            <div class="block p-6 rounded-lg shadow-lg bg-white max-w-[75%]">
            <p class="text-gray-700 text-base mb-4">
                {{ comment.text }}            
            </p>

            {% if user.is_staff %}
                <button type="button" 
                class="inline-block px-6 py-2 border-2 border-rose-200 text-gray-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                        ">
                        Remove Post
                </button>
            {% endif %}

            </div>
        </div>

        {% endfor %}
    </ul>
</div>



{% endblock %}