{% extends "base.html" %}




{% block content %}

<h1 class='font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600'>Comments</h1>


<div id='comments'>
    <ul>
        {% for comment in comments %}

        <div class="flex flex-col m-3">
            <div class="block p-6 rounded-lg shadow-lg bg-white max-w-[75%]">
            <p class="text-gray-700 text-base mb-4">
                {{ comment.text }}            
            </p>

            </div>
        </div>

        {% endfor %}
    </ul>
</div>



{% endblock %}